/* ===================================================================
 *  12. pricing - (_layout.scss)
 *
 * ------------------------------------------------------------------- */

#detectionOnVid {
    background: #ebebeb;
    padding-top: 15rem;
    padding-bottom: 12rem;
}
#detectionOnVid h1 {
    margin-bottom: 3.6rem;
    color: #151515;
}

.pricing-intro {
    padding-top: .6rem;
}

.pricing-table {
    text-align: center;
}

.pricing-table .plan-block {
    background: #ffffff;
    border-radius: 5px;
    padding: 4.8rem 4rem 5.4rem;
    margin-bottom: 4.8rem;
}

.pricing-table .plan-block:after {
    content: "";
    display: table;
    clear: both;
}

.pricing-table .plan-block .plan-block-title {
    font-family: "montserrat-regular", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 3.6rem;
}

.pricing-table .plan-block .plan-block-price {
    font-family: "montserrat-medium", sans-serif;
    font-size: 7.8rem;
    color: #151515;
    line-height: 1;
    margin-bottom: 0;
}

.pricing-table .plan-block .plan-block-price sup {
    font-family: "montserrat-regular", sans-serif;
    font-size: 3rem;
    top: -3.6rem;
    margin-right: 3px;
}

.pricing-table .plan-block .plan-block-per {
    margin-top: -.6rem;
    margin-bottom: 0;
    font-family: "montserrat-medium", sans-serif;
    font-size: 1.7rem;
}

.pricing-table .plan-block .plan-block-features {
    list-style: none;
    margin: 0 2rem 4.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.pricing-table .plan-block .plan-block-features li {
    padding: 1.2rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-table .plan-block .plan-block-features li span {
    color: #39b54a;
    font-family: "muli-bold", sans-serif;
}

.pricing-table .plan-block.primary {
    background: #39b54a;
    color: rgba(255, 255, 255, 0.8);
}

.pricing-table .plan-block.primary .plan-block-title,
.pricing-table .plan-block.primary .plan-block-price {
    color: #ffffff;
}

.pricing-table .plan-block.primary .plan-block-features {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.pricing-table .plan-block.primary .plan-block-features li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pricing-table .plan-block.primary .plan-block-features li span {
    color: #ffffff;
}

.pricing-table .plan-block.primary .button.button-primary {
    background: #ffffff;
    color: #151515;
    border-color: #ffffff;
}

.pricing-table .plan-block.primary .button.button-primary:hover,
.pricing-table .plan-block.primary .button.button-primary:focus {
    color: #39b54a;
}

.pricing-table .plan-bottom-part {
    margin-top: 3rem;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
    #detectionOnVid .pricing-content>[class*="col"] {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
    }
    #detectionOnVid [class*="col"].pricing-intro {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
    }
    #detectionOnVid [class*="col"].pricing-intro h1::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    #detectionOnVid [class*="col"].pricing-table {
        margin-top: 5.4rem;
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 768px) {
    .pricing-table .plan-wrap {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
    }
    .pricing-table .plan-top-part,
    .pricing-table .plan-bottom-part {
        float: left;
    }
    .pricing-table .plan-top-part {
        width: 41.66667%;
        margin-top: 1.2rem;
    }
    .pricing-table .plan-bottom-part {
        width: 58.33333%;
    }
}

@media only screen and (max-width: 600px) {
    #detectionOnVid [class*="col"].pricing-table {
        max-width: 360px;
    }
    #detectionOnVid .plan-top-part,
    #detectionOnVid .plan-bottom-part {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
    }
}
